<!DOCTYPE html>
<html>
{% include "partes/css.twig" %}
<!--Start Header-->

<style type="text/css">
	.timeline {
		list-style: none;
		padding: 20px 0 20px;
		position: relative;
	}
	.timeline:before {
		height: 130%;
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 3px;
		background-color: #fff;
		left: 25px;
		margin-right: -1.5px;
	}
	.timeline > li {
		margin-bottom: 20px;
		position: relative;
	}
	.timeline > li:before,
	.timeline > li:after {
		content: " ";
		display: table;
	}
	.timeline > li:after {
		clear: both;
	}
	.timeline > li:before,
	.timeline > li:after {
		content: " ";
		display: table;
	}
	.timeline > li:after {
		clear: both;
	}
	.timeline > li > .timeline-panel {
		width: calc( 100% - 75px );
		float: right;
		border: 1px solid #d4d4d4;
		border-radius: 2px;
		padding: 20px;
		position: relative;
		-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	}
	.timeline > li > .timeline-panel:before {
		position: absolute;
		top: 26px;
		left: -15px;
		display: inline-block;
		border-top: 15px solid transparent;
		border-right: 15px solid #ccc;
		border-left: 0 solid #ccc;
		border-bottom: 15px solid transparent;
		content: " ";
	}
	.timeline > li > .timeline-panel:after {
		position: absolute;
		top: 27px;
		left: -14px;
		display: inline-block;
		border-top: 14px solid transparent;
		border-right: 14px solid #fff;
		border-left: 0 solid #fff;
		border-bottom: 14px solid transparent;
		content: " ";
	}
	.timeline > li > .timeline-badge {
		color: #fff;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		text-align: center;
		position: absolute;
		top: 16px;
		left: 0px;
		margin-right: -25px;
		background-color: #F1BB04;
		z-index: 100;
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		float: left;
	}
	.timeline > li.timeline-inverted > .timeline-panel:before {
		border-right-width: 0;
		border-left-width: 15px;
		right: -15px;
		left: auto;
	}
	.timeline > li.timeline-inverted > .timeline-panel:after {
		border-right-width: 0;
		border-left-width: 14px;
		right: -14px;
		left: auto;
	}
	.timeline-badge.primary {
		background-color: #2e6da4 !important;
	}
	.timeline-badge.success {
		background-color: #3f903f !important;
	}
	.timeline-badge.warning {
		background-color: #f0ad4e !important;
	}
	.timeline-badge.danger {
		background-color: #d9534f !important;
	}
	.timeline-badge.info {
		background-color: #5bc0de !important;
	}
	.timeline-title {
		margin-top: 0;
		color: inherit;
	}
	.timeline-body > p,
	.timeline-body > ul {
		margin-bottom: 0;
		margin-top:10px;
	}
	.timeline-body > p + p {
		margin-top: 10px;
	}

	.timeline-body {
		display: none;
	}
	.text-muted{
		font-size: 12px;
	}
</style>


<body>
{% include "partes/head.twig" %}
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<!--menu-->
			{% include "partes/menu.twig" %}
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">			
			<div class="container-fluid" style="background:#fff; margin:20px; border-radius:2px; padding:10px;">
				<h1 style="font-size:25px;">Configurações</h1></br></br>

				<div class="row">
					<form action="/cadastroUsuario" method="post" enctype="multipart/form-data">

						{{htmlHidden.html | raw}}

						<input type="hidden" name="foto_id" value="ok">
  						
						<div class="col-md-6">
  							<div class="form-group">
								<label for="foto">Foto:</label>
								<input type="file" class="form-control" name="foto">
							</div>
  						</div>
  						<div class="col-md-6">
  							<div class="form-group">
								<label for="email">Email:</label>
								<input type="email" class="form-control" name="email" value="{{dadosConfiguracao.email}}">
							</div>
  						</div>
  						<div class="col-md-6">
  							<div class="form-group">
								<label for="nome">Nome:</label>
								<input type="text" class="form-control" name="nome" value="{{dadosConfiguracao.nome}}">
							</div>
  						</div>
  						<div class="col-md-6">
  							<div class="form-group">
								<label for="login">Login:</label>
								<input type="text" class="form-control" name="login" value="{{dadosConfiguracao.login}}">
							</div>
  						</div>
  						<div class="col-md-6">
  							<div class="form-group">
								<label for="senha">Senha:</label>
								<input type="password" class="form-control" name="senha" value="{{dadosConfiguracao.senha}}">
							</div>
  							<button type="submit" class="btn btn-success" style="background-color:#F1BB04;">Atualizar</button>
  						</div>

  					</form>
				</div>

			</div>
		</div>
		<!--End Content-->
	</div>
</div>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	$('.timeline-panel').click(function() {
	    $('.timeline-body', this).toggle(); // p00f
	});
</script>


<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{{base_url()}}/assets/rede/plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{base_url()}}/assets/rede/plugins/bootstrap/bootstrap.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/tinymce/tinymce.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{{base_url()}}/assets/rede/js/devoops.js"></script>
<script src="{{base_url()}}/assets/timeline/js/jquery-2.1.4.js"></script>
<script src="{{base_url()}}/assets/timeline/js/jquery.mobile.custom.min.js"></script>
<script src="{{base_url()}}/assets/timeline/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>