<!DOCTYPE html>
<html>
{% include "partes/css.twig" %}
<!--Start Header-->

<style type="text/css">

</style>


<body>
{% include "partes/head.twig" %}
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<!--menu-->
			{% include "partes/menu.twig" %}
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">			
			<ul class="timeline" style="border-color:red;">


				{% for item in timeline %}
				<li>
					<div class="timeline-badge">
						{% if item.privacidade=="anonimo" and item.id_user!=dadosDoUsuario.id %}
							<img src="{{base_url()}}/assets/rede/img/user/anonimo.jpg" alt="" width="50" height="50" style="border-radius: 30px;">
						{% else %}
							<img src="{{base_url()}}/assets/rede/img/user/{{item.img}}" alt="" width="50" height="50" style="border-radius: 30px;">
						{% endif %}
						
					</div>
					<div class="timeline-panel" style="background-color:#fff;">
						<div class="timeline-heading">
							<a href="#{{item.id}}" class="head_post" id="cabeca-{{item.id}}" onclick="chamaCorpoPost(this.id)"><h4 class="timeline-title">{{item.titulo}} > {{item.tipo}} > {{item.privacidade}} </h4></a>
							<p>
								<small class="text-muted">
									<i class="fa fa-clock-o" aria-hidden="true" style="color:#9999A5;"></i> {{item.data}}
									<br>	
										<a style="color:#F1BB04; text-decoration: none;">
											
											{% if item.statusCurtida == 0 %}
												<i id="s{{item.id}}" class="fa fa-heart-o" aria-hidden="true" onclick="curtir({{item.id}},{{item.id_login}})" value='{{item.id}}'></i> <i id="valorLike{{item.id}}">
												{{item.qtdLikes}}
												</i>
												
											{% else %}
												<i id="s{{item.id}}" class="fa fa-heart" aria-hidden="true" onclick="curtir({{item.id}},{{item.id_login}})" value='{{item.id}}'></i> <i id="valorLike{{item.id}}">
												{{item.qtdLikes}}
												</i>
											{% endif %}
											
											<i id="c{{item.id}}" class="fa fa-comments-o" aria-hidden="true" onclick="comentar({{item.id}}, {{item.id_login}})"></i><i id="valorcomentarios{{item.id}}">
											{{item.qtdComentarios}}
											</i>
											
											{% if item.statusFavoritos == 0 %}
												<i id="favorito{{item.id}}" class="fa fa-star-o" aria-hidden="true" onclick="favoritar({{item.id}},{{item.id_login}})" value='{{item.id}}'>
												</i>
											{% else %}
												<i id="favorito{{item.id}}" class="fa fa-star" aria-hidden="true" onclick="favoritar({{item.id}},{{item.id_login}})" value='{{item.id}}'></i> 
											{% endif %}

										</a>
								</small>
							</p>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="timeline-body" id="corpo-{{item.id}}">
									<p style="text-align:justify; font-size:14px; line-height:1.5;">
									{{item.conteudo | raw}}
									</p>
								</div>
							</div>
						</div>

						<!--Mostrar e adicionar comentario-->
						<div class="timeline-body" id="comentario{{item.id}}"><br>
							<div class="" id="coment{{item.id}}"></div>
							<div class="row"><br>
								<div class="col-md-1">
									<img src="{{base_url()}}/assets/rede/img/user/{{item.foto}}" alt="" width="50" height="50" style="border-radius: 30px;">
								</div>

								 <div class="col-md-6">
								  	<textarea type="text" id="comentariotext{{item.id}}" class="form-control" > </textarea>
								 </div><br>
							</div>

							<div class="col-md-6 col-md-offset-6" > 
								<button class="btn btn-warning" onclick="salvarComentario({{item.id}},{{item.id_login}})">   Okay  </button>
							</div>
						</div>
						
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<!--End Content-->
	</div>
</div>






<div id="loginCadastro" class="modal fade" role="dialog" style="background-image: url('{{base_url()}}/assets/img/header-bg.jpg');">
	<div class="modal-dialog">
		<!-- Modal content-->

		<div class="modal-body">
			<div class="panel panel-info" style="border-color:#F1BB04;">
				<div class="panel-heading" style="background-color:#F1BB04; color:#fff;">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="panel-title">Área de Acesso</h3>
				</div>
				<div class="panel-body">

					<div class="row-fluid">

						<div class="col-md-5" >
							<br/>
							<a href="{{url_face}}" class="btn btn-block btn-social btn-facebook" style="text-align: left; color:#fff;background:#3B5998;" id="facebook">
								<span class="fa fa-facebook"></span>
								Entrar com Facebook
							</a><br/>

							<a class="btn btn-block btn-social btn-google" style="text-align: left; color:#fff;background:#DD4B39;">
								<span class="fa fa-google"></span>
								Entrar com Google
							</a><br/>

						</div>

						<div class="col-md-7" style="border-left:1px solid #F1BB04;height:160px">
							<form class="form-horizontal" action="/login" method="post">
								<fieldset>
									{% if erros.login %}
									<span style="color:#B84442;">{{erros.login | first}}</span>
									{% endif %}
									<input id="textinput" name="login" type="text" placeholder="Login" class="form-control input-md" value="{{recarregaDados.login}}"></br>
									{% if erros.senha %}
									<span style="color:#B84442;">{{erros.senha | first}}</span>
									{% endif %}
									<input id="textinput" name="senha" type="password" placeholder="Senha" class="form-control input-md">
									{{htmlHidden.html | raw}}
									<div class="spacing">
										<a href="#">
											<small> 
												Esqueceu sua Senha?
											</small>
										</a><br/>
									</div>
									<button id="singlebutton" style="background-color:#F1BB04;" name="singlebutton" class="btn btn-warning btn-sm pull-right">
										Entrar
									</button><br/><br/><br/>
								</fieldset>
							</form>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>









<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	
	function chamaCorpoPost(id){
		i=id.split("-");
	    $('#corpo-'+i[1]).toggle(); // p00f
	}

</script>


<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{{base_url()}}/assets/rede/plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{base_url()}}/assets/rede/plugins/bootstrap/bootstrap.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/tinymce/tinymce.min.js"></script>
<script src="{{base_url()}}/assets/rede/plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{{base_url()}}/assets/rede/js/devoops.js"></script>
<script src="{{base_url()}}/assets/timeline/js/jquery-2.1.4.js"></script>
<script src="{{base_url()}}/assets/timeline/js/jquery.mobile.custom.min.js"></script>
<script src="{{base_url()}}/assets/timeline/js/main.js"></script> <!-- Resource jQuery -->
<script src="{{base_url()}}/assets/rede/js/curtir.js" type="text/javascript"></script>
<script src="{{base_url()}}/assets/rede/js/comentario.js" type="text/javascript"></script>
<script src="{{base_url()}}/assets/rede/js/favoritos.js" type="text/javascript"></script>

</body>
</html>